MiDas/
__pycache__/
Dockerfile
trained_models/
utils/
scripts/
model_cache/
.env
.idea
node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
package-lock.json
package.json
tsconfig.json
venv/
